<div class="container">
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card">
      <h3><%= bookmark.movie.title %></h3>
      <p><%= bookmark.comment %></p>
      <%= link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </div>
    <% end %>
    <%= link_to 'New', new_list_bookmark_path(@list)%>
  </ul>
</div>
